*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *****************************
created By : Muhammad
*******************************
Section : main
****************
 ************* */

 .container{
    width: 100%;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
 }

/* Login side */




/* Right side  */





/* *****************************
created By : Muhammad
*******************************
Section : Footer
****************
 ************* */

